* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #515151;
  font-size: 16px;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  max-width: 1080px;
  margin: 0 auto;
}

.nav {
  color: #363838;
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.nav_block {
  align-items: center;
  display: flex;
}
.nav_block_content {
  color: #363838;
  text-decoration: none;
  margin: 0 40px;
}
.nav_img {
  justify-self: center;
}

.burger {
  background-color: transparent;
  border: transparent;
}
.burger_svg {
  width: 93px;
  height: 31px;
  display: inline-block;
  cursor: pointer;
}

.swiper_block {
  width: 100%;
  background-image: url("/image/home/slider/slider_bg.jpg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  background: yellow;
}

.swiper-pagination-bullet {
  background: dimgrey;
}

.swiper_img {
  width: 703px;
  height: 815px;
}
.swiper_content {
  max-width: 640px;
}
.swiper_title {
  font-family: Montserrat, sans-serif;
  color: #363838;
  font-size: 110px;
}
.swiper_hr {
  width: 200px;
  background-color: grey;
  margin: 20px 0;
}
.swiper_text {
  font-size: 16px;
  font-weight: 500;
}
