* {
  box-sizing: border-box;
}
* h1, * h2, * h3, * h4, * p {
  margin: 0;
}

body {
  background-color: white;
  color: #5A5A5A;
  font-size: 16px;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

.title {
  font-family: Montserrat, sans-serif;
  color: #363838;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}
.container_fluid {
  max-width: 1920px;
}

header {
  padding: 20px 0;
  max-width: 1080px;
  margin: 0 auto;
}

.nav {
  color: #363838;
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.nav_block {
  align-items: center;
  display: flex;
}
.nav_block_content {
  color: #363838;
  text-decoration: none;
  margin: 0 40px;
}
.nav_img {
  justify-self: center;
}

.burger {
  background-color: transparent;
  border: transparent;
}
.burger_svg {
  width: 93px;
  height: 31px;
  display: inline-block;
  cursor: pointer;
}

.swiper_block {
  width: 100%;
  background-image: url("/image/home/slider/slider_bg.jpg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  background: yellow;
}

.swiper-pagination-bullet {
  margin: 0 15px;
  background: dimgrey;
}

.swiper_img {
  width: 703px;
  height: 815px;
  margin: 0 40px;
}
.swiper_content {
  max-width: 640px;
}
.swiper_title {
  font-size: 110px;
  position: relative;
  padding-bottom: 19px;
  margin-bottom: 19px;
}
.swiper_title::after {
  background: grey;
  width: 200px;
  height: 1px;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.swiper_text {
  font-weight: 500;
}

.furniture_info {
  justify-content: center;
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
}
.furniture_info_text {
  font-weight: 700;
}
.furniture_info_title {
  position: relative;
  padding-bottom: 19px;
  margin-bottom: 19px;
  font-size: 36px;
}
.furniture_info_title::after {
  background: grey;
  width: 200px;
  height: 1px;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
}
.furniture_content {
  display: flex;
  margin: 80px 0 100px;
  max-width: 1920px;
  justify-content: center;
}
.furniture_white {
  transition: .9s;
  left: 0;
  top: 0;
  position: absolute;
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.furniture_img_block {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
.furniture_img_hover {
  opacity: 0;
  transition: .5s;
  width: 100%;
  left: 0;
  top: 40%;
  justify-content: center;
  text-align: center;
  position: absolute;
}
.furniture_img_title {
  font-size: 20px;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}
.furniture_img_title::after {
  background: grey;
  width: 60%;
  margin: 0 auto;
  height: 1px;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.furniture_img_text {
  font-size: 14px;
}

.furniture_img_block:hover .furniture_white {
  display: block;
  opacity: .6;
  transition: .9s;
}
.furniture_img_block:hover .furniture_img_hover {
  display: block;
  opacity: 1;
  transition: .5s;
}

.decor {
  background-image: url("/image/home/decor/decor_bg.jpg");
  background-repeat: no-repeat;
  height: 100%;
}
.decor_content {
  max-width: 540px;
  padding: 170px 0 160px;
  margin-right: 20px;
}
.decor_title {
  font-size: 60px;
  position: relative;
  margin-bottom: 19px;
  padding-bottom: 19px;
}
.decor_title::after {
  background: grey;
  width: 200px;
  height: 1px;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.works_title {
  font-size: 36px;
  display: flex;
  justify-content: center;
  padding: 80px 0 20px;
}

.works_path_content {
  justify-content: center;
}
.works_path_container {
  display: flex;
  align-items: flex-end;
}
.works_path_img {
  position: absolute;
  left: 0;
  top: 0;
}
.works_path_box {
  width: 50%;
  position: relative;
}
.works_path_box_after_line_standard::after, .works_path_box_after_line_reverse::after {
  height: 20px;
  background: grey;
  width: 2px;
  content: "";
  position: absolute;
}
.works_path_box_after_line_standard::after {
  left: 0;
  bottom: 0;
}
.works_path_box_after_line_reverse::after {
  right: 50%;
  top: 0;
}
.works_path_block {
  max-width: 270px;
  position: relative;
  margin: 35px 0;
}
.works_path_line {
  background: grey;
  width: 100%;
  height: 2px;
  position: relative;
}
.works_path_line::before, .works_path_line::after {
  content: "";
  bottom: -4px;
  width: 10px;
  height: 10px;
  background: #363636;
  position: absolute;
  border-radius: 5px;
}
.works_path_line::before {
  left: 0;
}
.works_path_line::after {
  right: 0;
  opacity: .8;
}
.works_path_title {
  padding: 5px 0 0 45px;
  margin-bottom: 15px;
}

.works_right {
  display: flex;
  justify-content: right;
}
