$mainColor: #363838;
$contentColor: #707070;

$boldText: Montserrat, sans-serif;


* {
  box-sizing: border-box;

}

body{
  background-color: white;
  color: #515151;
  font-size: 16px;
  margin: 0;
  font-family: "Open sans", sans-serif;
}


.container {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  max-width: 1080px;
  margin: 0 auto;
}

.nav {
  color: $mainColor;
  font-family: $boldText;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
    &_block {
      align-items: center;
      display: flex;
      &_content {
        color: $mainColor;
        text-decoration: none;
        margin: 0 40px;

      }
    }
  &_img {
    justify-self: center;
  }
}
.burger {
  background-color: transparent;
  border: transparent;
  &_svg {
    width: 93px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
  }
}

.swiper_block {
  width: 100%;
  background-image: url("/image/home/slider/slider_bg.jpg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  background: yellow;
}
.swiper-pagination-bullet {
  background: dimgrey;
}

.swiper {

  &_img {
    width: 703px;
    height: 815px;
  }
  &_content{
    max-width: 640px;
  }
  &_title {
    font-family: $boldText;
    color: $mainColor;
    font-size: 110px;
  }
  &_hr {
    width: 200px;
    background-color: grey;
    margin: 20px 0;
  }
  &_text {
    font-size: 16px;
    font-weight: 500;
  }
}
