* {
  box-sizing: border-box; }
  * h1, * h2, * h3, * h4, * p {
    margin: 0; }

#web-active:after {
  transform: scale(1, 1); }

body {
  background-color: white;
  color: #5A5A5A;
  font-size: 16px;
  margin: 0;
  font-family: "Open sans", sans-serif; }

.title {
  font-family: Montserrat, sans-serif;
  color: #363838; }

.container {
  max-width: 1180px;
  margin: 0 auto; }
  .container_fluid {
    max-width: 1920px;
    margin: 0 auto; }

header {
  padding: 20px 0;
  max-width: 1080px;
  margin: 0 auto; }

.nav {
  color: #363838;
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center; }
  .nav_block {
    align-items: center;
    display: flex; }
    .nav_block_content {
      color: #363838;
      text-decoration: none;
      margin: 0 40px 5px;
      line-height: 25px; }
      .nav_block_content:after {
        transition: 0.3s ease-out;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #979797;
        position: relative;
        bottom: 0;
        border-radius: 1px;
        transform: scale(0, 1); }
      .nav_block_content:hover:after {
        transform: scale(1, 1); }
  .nav_img {
    justify-self: center; }

.burger {
  background-color: transparent;
  border: transparent; }
  .burger_svg {
    width: 93px;
    height: 31px;
    display: inline-block;
    cursor: pointer; }

.breadcrumbs {
  font-size: 14px;
  background: #f2f2f2;
  padding: 14px 405px; }

.blog {
  margin: 50px 0; }
  .blog_inner {
    display: flex; }
  .blog_content {
    max-width: 730px;
    text-align: left; }
    .blog_content_info_title {
      font-size: 24px;
      line-height: 1.5; }
    .blog_content_info_text {
      font-size: 16px;
      line-height: 1.7; }
  .blog_description {
    display: flex;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 700; }
    .blog_description_author {
      padding: 0 8px;
      margin: 0 8px;
      border-left: grey solid 1px;
      border-right: grey solid 1px; }
  .blog_text {
    font-size: 24px; }
  .blog_quote {
    text-align: left;
    margin: 40px 30px; }
    .blog_quote_text {
      font-size: 24px;
      padding-bottom: 19px;
      margin-bottom: 19px;
      position: relative;
      font-style: italic;
      font-weight: 300; }
      .blog_quote_text::after {
        content: "";
        display: block;
        width: 200px;
        height: 1px;
        background: #979797;
        position: absolute;
        border-radius: 1px;
        left: 0;
        bottom: 0; }
  .blog_tags {
    margin: 50px 0; }
    .blog_tags_title {
      font-size: 18px;
      margin-bottom: 10px; }
    .blog_tags_link {
      text-decoration: none;
      color: #8F8D8D;
      border: 1px solid #8F8D8D;
      border-radius: 30px;
      padding: 4px 16px;
      margin: 4px;
      display: inline-block;
      transition: .3s; }
      .blog_tags_link:hover {
        transition: .3s;
        color: #363636;
        border: 1px solid #FFEF35;
        background-color: #FFEF35; }
  .blog_previous {
    position: relative;
    margin: 40px 0;
    padding: 40px 0; }
    .blog_previous::before {
      content: "";
      width: 100%;
      background-color: #DFDFDF;
      height: 1px;
      position: absolute;
      top: 0; }
    .blog_previous::after {
      content: "";
      width: 100%;
      background-color: #DFDFDF;
      height: 1px;
      position: absolute;
      bottom: 0; }
    .blog_previous_content {
      display: flex;
      justify-content: space-between; }
    .blog_previous_block {
      max-width: 260px; }
      .blog_previous_block_right {
        text-align: right;
        margin-right: 40px; }
      .blog_previous_block_left {
        text-align: left;
        margin-left: 40px; }
    .blog_previous_text {
      color: #707070; }
  .blog_comments_title {
    font-size: 20px;
    margin-bottom: 20px; }
  .blog_comments_author {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px; }
  .blog_comments_content {
    position: relative; }
    .blog_comments_content_block {
      margin-left: 90px; }
      .blog_comments_content_block_text {
        font-size: 16px;
        max-width: 650px; }
    .blog_comments_content_author_info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .blog_comments_content_author_block {
      display: grid;
      margin: 15px 0; }
    .blog_comments_content_author_name {
      color: #363636;
      font-size: 16px;
      text-decoration: none;
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      transition: .3s; }
      .blog_comments_content_author_name:hover {
        transition: .3s;
        opacity: .7; }
    .blog_comments_content_author_date {
      color: #A1A1A1; }
    .blog_comments_content_author_reply {
      color: #707070; }
  .blog_comment {
    margin: 20px 0; }
    .blog_comment_title {
      font-size: 16px;
      margin-bottom: 20px; }
    .blog_comment_input {
      display: grid; }
      .blog_comment_input_label {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .blog_comment_input_checkbox_label {
        margin: 15px 0 20px; }
      .blog_comment_input_text {
        border: 1px grey solid;
        border-radius: 20px;
        width: 730px;
        height: 125px;
        padding: 15px 25px 40px 20px;
        font-size: 16px; }
        .blog_comment_input_text:focus {
          color: #363636;
          border: none; }
      .blog_comment_input_info {
        border: 1px grey solid;
        border-radius: 20px;
        width: 360px;
        padding: 10px 15px; }
        .blog_comment_input_info:focus {
          color: #363636;
          border: none; }
      .blog_comment_input_submit {
        color: white;
        background-color: #363636;
        font-size: 16px;
        padding: 10px 50px;
        border: #363636 1px solid;
        border-radius: 20px;
        font-weight: 600; }
  .blog_search {
    margin: 0 30px;
    width: 350px; }
    .blog_search_input {
      padding: 8px 40px 8px 18px;
      border-radius: 50px;
      width: 350px;
      border: 1px solid #363636; }
    .blog_search_label {
      display: flex;
      align-items: center; }
    .blog_search_block {
      position: relative; }
    .blog_search:focus {
      border: transparent; }
    .blog_search_icon_link {
      right: 20px;
      position: absolute;
      bottom: 3px; }
    .blog_search_categories {
      margin: 45px 0;
      display: grid; }
      .blog_search_categories_title {
        font-size: 18px;
        margin: 14px 0; }
      .blog_search_categories_text {
        color: #5A5A5A;
        text-decoration: none;
        font-size: 16px;
        margin: 8px 0; }
        .blog_search_categories_text:hover {
          color: black; }
    .blog_search_posts {
      margin: 50px 0;
      max-width: 350px; }
      .blog_search_posts_title {
        margin-bottom: 14px;
        font-size: 18px; }
      .blog_search_posts_content {
        margin: 10px 0; }
      .blog_search_posts_text {
        color: #363838;
        line-height: 1.5;
        text-decoration: none;
        transition: .3s; }
        .blog_search_posts_text:hover {
          transition: .3s;
          opacity: .5; }
      .blog_search_posts_date {
        color: #A1A1A1;
        position: relative;
        padding-right: 10px;
        margin-right: 5px; }
        .blog_search_posts_date::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 15px;
          background: grey;
          bottom: 0;
          right: 0; }
      .blog_search_posts_author {
        color: #A1A1A1;
        text-decoration: none; }
    .blog_search_tags {
      margin: 50px 0; }
      .blog_search_tags_title {
        font-size: 18px;
        margin-bottom: 10px; }
      .blog_search_tags_link {
        text-decoration: none;
        color: #8F8D8D;
        border: 1px solid #8F8D8D;
        border-radius: 30px;
        padding: 4px 16px;
        margin: 4px;
        display: inline-block;
        transition: .3s; }
        .blog_search_tags_link:hover {
          transition: .3s;
          color: #363636;
          border: 1px solid #FFEF35;
          background-color: #FFEF35; }
    .blog_search_social {
      display: flex;
      align-items: center; }
      .blog_search_social_content {
        display: flex; }
      .blog_search_social_block {
        display: flex;
        align-items: center;
        margin-right: 20px; }
      .blog_search_social_link {
        text-decoration: none;
        color: #707070;
        line-height: 35px;
        padding-left: 10px;
        font-weight: 700;
        transition: .2s; }
      .blog_search_social_svg {
        width: 15px;
        height: 15px; }

textarea {
  resize: none; }

.swiper-wrapper {
  position: relative; }
.swiper-custom-button {
  color: #363636;
  cursor: pointer;
  position: absolute;
  z-index: 999; }
  .swiper-custom-button-next {
    right: 0;
    top: 25%; }
  .swiper-custom-button-prev {
    left: 0;
    top: 15%;
    transform: rotate(180deg); }

.footer {
  text-align: center; }
  .footer_content {
    background-color: #DFDFDF;
    padding: 60px 0 80px;
    text-align: left; }
    .footer_content_inner {
      display: flex;
      justify-content: space-between; }
  .footer_contact {
    max-width: 480px; }
    .footer_contact_text {
      margin: 15px 0; }
    .footer_contact_mail {
      transition: .2s;
      display: flex;
      color: #363838;
      font-family: Montserrat, sans-serif;
      text-decoration: none; }
      .footer_contact_mail:hover {
        transition: .2s;
        color: white; }
      .footer_contact_mail_text {
        padding-left: 15px; }
    .footer_contact_subscribe {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; }
      .footer_contact_subscribe_input {
        padding: 10px 120px 10px 20px;
        background-color: transparent;
        border: 1px #363838 solid;
        border-radius: 15px; }
        .footer_contact_subscribe_input:focus {
          border: 1px #363838 solid; }
      .footer_contact_subscribe_btn {
        background-color: #363838;
        color: white;
        padding: 10px 60px;
        border: 2px #363838 solid;
        border-radius: 20px;
        cursor: pointer;
        transition: .2s;
        font-weight: 700; }
        .footer_contact_subscribe_btn:hover {
          box-shadow: 0 0 15px #363838;
          transition: .2s; }
  .footer_social {
    display: flex;
    flex-direction: column; }
    .footer_social_block {
      display: flex;
      align-items: center;
      margin: 2px 0; }
    .footer_social_link {
      text-decoration: none;
      color: #707070;
      line-height: 35px;
      padding-left: 10px;
      font-weight: 700;
      transition: .2s; }
    .footer_social_svg {
      width: 15px;
      height: 15px; }
  .footer_info {
    display: flex;
    flex-direction: column; }
    .footer_info_link {
      line-height: 35px;
      text-decoration: none;
      color: #707070;
      font-weight: 700;
      transition: .2s; }
      .footer_info_link:hover {
        color: #363838;
        transition: .2s; }
  .footer_copyright {
    margin: 0 auto;
    background-color: #363838;
    padding: 40px 0; }

.facebook {
  transition: all; }
  .facebook:hover .facebook_svg {
    color: dodgerblue; }
  .facebook:hover #facebook {
    fill: dodgerblue; }

.inst {
  transition: all; }
  .inst:hover .inst_svg {
    color: #b92fc2; }
  .inst:hover #inst {
    fill: #b92fc2; }

.pinterest {
  transition: all; }
  .pinterest:hover .pinterest_svg {
    color: red; }
  .pinterest:hover #pinterest {
    fill: red; }

.whatsapp {
  transition: all; }
  .whatsapp:hover .whatsapp_svg {
    color: #1db41d; }
  .whatsapp:hover #whatsapp {
    fill: #1db41d; }

.youtube {
  transition: all; }
  .youtube:hover .youtube_svg {
    color: red; }
  .youtube:hover #youtube {
    fill: red; }

.facebook {
  transition: all; }
  .facebook:hover #Blog_facebook {
    fill: dodgerblue; }

.inst {
  transition: all; }
  .inst:hover #Blog_inst {
    fill: #b92fc2; }

.pinterest {
  transition: all; }
  .pinterest:hover #Blog_pinterest {
    fill: red; }

.whatsapp {
  transition: all; }
  .whatsapp:hover #Blog_whatsapp {
    fill: #1db41d; }

.youtube {
  transition: all; }
  .youtube:hover #Blog_youtube {
    fill: red; }

.twitter {
  transition: all; }
  .twitter:hover #Blog_twitter {
    fill: deepskyblue; }
